Source: libmikrokopter
Section: devel
Priority: optional
Maintainer: Dirk Holz <holz@ais.uni-bonn.de>
Build-Depends: cmake, libboost-system-dev, libboost-thread-dev
Homepage: http://purl.org/holz

Package: libmikrokopter
Architecture: any
Depends: 
Description: libmikrokopter
 For communication with Mikrokopter copters 
 (including debug data, navigation data, and 
 extern control commands)
